body {background-color:white;}
body,div,p,dl, .memname, .memberdecls, .paramname, .params, .paramname, .tparams, .exception {
        font: normal normal normal 17px/23px "HelveticaNeue", Helvetica, "Arial Narrow", Arial, sans-serif;
}
h1, h2, h3, h4 {color: rgba(1,1,1,.8);}
#nav-path {display:none;}
h2:first-of-type {margin-top:2px; border:none;}
h2.groupheader {font-size:26px; line-height:28px;color:#286796;}
h2.desc, h2 {font-weight:lighter; margin-top:1em;}
div.groupheader { font-weight:600; font-size:18px;color: rgb(51, 51, 51);}
h3 {font-size:20px; font-weight:lighter;}
div.header { background-image:none; background-color: #3498db; color:white; position: absolute;width: 100%;top: 0;}
div.contents {margin-top: 80px;}
div.title {text-align:center;font-size: 28px; font-weight:100;}
div.fragment {border:none; margin:8px; background-color:transparent;}
div.line{font-size:15px;}
.summary {display:none;}
dl.section {border:none;}
code {
    background: rgba(200,200,200,0.15);
    padding: 0 3px 0 3px;
}
/* Responsive image */
.resp-img {
    max-width: 100%;
    height: auto;
}

table.memberdecls {
    font-size: 15px;
}

.memproto > *, .memitem > * {
        box-shadow: none!important;
        background-image:none!important;
}
.memtitle {
        display: none;
}
.memproto {
        border-top-left-radius: 5px;
        border-bottom: 1px #b8c8e9 solid;
        background-color: #E4F1FE;
}
.memname {
        color: #2c3e50!important;
        text-shadow: none;
        font-weight: 600 !important;
}
pre {white-space: pre-wrap;padding-left:1em;}
.textinfo {color: #428bca;}
.textnote {color: #a94442;}
a.back {
        font-size: 28px;
        text-decoration:none;
        color:white;
        position:fixed;
        top: 10px;
        right:20px;
        padding: 10px 20px;
        background-color: rgba(59,150,215, 0.4);
        cursor:pointer;
        transition: all 0.25s ease;
        z-index:20;
}
a.back:hover {
        padding-left:15px;
        padding-right:25px;
        background-color:#2980b9;
}
